* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "Concert One", sans-serif;
    
}

header .logo img{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
}

.logo nav{
    align-items: center;
}

.logo nav .navElements {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo nav .navElements li {
    margin: 0 15px;
}

.logo nav .navElements li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.logo nav .navElements li a:hover {
    text-decoration: underline;
}

.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.logo nav .navSocials {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.logo nav .navSocials li {
    margin: 0 15px;
}

.logo nav .navSocials li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.logo nav .navSocials li a:hover {
    text-decoration: underline;
}

.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }